{% extends "layout.html" %}

{% block title %}
chai our tweet
{% endblock title %}

{% block content %}
<h1 class="text-center text-white">WELCOME TO Tweet</h1>

<a class="btn btn-primary mb-3" href="{% url 'tweet_create' %}">
    Create a tweet
</a>

<div class="container row gap-3">
  {% for tweet in tweets %}
    <div class="card col-md-3 p-0" style="width: 18rem;">
      <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Photo">
      <div class="card-body">
        <h5 class="card-title">{{ tweet.user.username }}</h5>
        <p class="card-text">{{ tweet.text }}</p>
        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
